.header{
    box-shadow: 5px 5px grey;
}
.map {
    width: 1000px;
    height: 500px;
    justify-content: center;
}

.flex-grid {
    display: flex;
     margin: 0 0 20px 0;
}

.flex-grid .col {
    flex: 1;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center__item {
    max-width: 50%;
}